@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
  color:#fff;
}

ul {
  list-style: none;
}

/* Utility classes start */

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.top-banner {
  background-color: #4fb3da;
  background-image: url(./assets/asset\ 32.png);
  background-size: 300px;
}

.banner-text {
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: #fff !important;
  padding: 10px 20px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.3s ease-out;
}

.primary-button:hover {
  background-color: var(--accent-color-dark);
}

.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color);
  padding: 10px 20px;
  transition: 0.3s ease-out;
}

.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.d-items-flex{
  display: flex;
  
}

/* utility classes ends */

/* navbar */

.main-nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  gap: 40px;
}

.company-logo img {
  width: 200px;
  margin-right: 70px;
  margin-top: -5px;
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}

/* header section */

header {
  padding: 50px var(--padding-inline-section);
}

.header-section {
  gap: 50px;
}

.header-left {
  /* max-width: 40vw; */
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.header-left h1 {
  margin-top: 20px;
}

.header-right img {
  width: 600px;
}

/* companies header */

.companies-header {
  text-align: center;
  margin-block: 25px;
  color: var(--primary-text-color);
}

.logo {
  height: 46px;
  width: 180px;
  align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
}

/* Features section */

.features-area {
  gap: 40px;
}

.features-section {
  padding: 80px var(--padding-inline-section) 0;
  background-image: url("./Assets/asset\ 34.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features-header {
  text-align: center;
}

.features-header h2 {
  margin-bottom: 20px;
}

.features-card {
  gap: 20px;
  max-width: 30%;
  text-align: center;
}

/* big feature section */

.big-feature-section {
  padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
  gap: 50px;
}

/* .feature-p-tag{

} */

 .testimonial-img{
  width: 110px;
}

.avatar img{
  width: 50px;
  height: 50px;
}

.avatar-details{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 2px;

}

.feature-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.avatar-details h5{
 font-size: 20px;
 margin-bottom: 0;
}

.avatar-details p{
  font-size: 15px;
  margin-bottom: 0;
 }




.feature-img img {
  width: 100%;
}

/* examples section */

.examples-header {
  text-align: center;
  margin-block: 50px;
}

.examples-heading-text {
  margin-bottom: 20px;
}

.examples-card {
  width: 23%;
  position: relative;
  min-height: 300px;
  background: black;
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0.8)),
    url(./assets/asset\ 36.jpeg);
  transition: 0.2s ease-out;
}

.examples-card:hover {
  box-shadow: 0 0 10px #888;
}

.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}


/* cta section 1 */

.cta-section-1{
  background-color: #183b54;
  padding-block: 70px;
}

.cta-content-more-details{
  margin-bottom: 30px;
  gap: 30px;
}

.cta-content-left ul, .cta-content-left p{
  color: #b9cde4;
  margin-bottom: 10px;
}

.cta-content-left ul{
  list-style: disc;
  padding-left: 20px;
}

.cta-content-left ul li{
  font-size: 14px;
  margin-bottom: 8px;
}

.cta-content-right{
  /* background-image: url(./assets/asset\ 40.png); */
  /* background-color: red; */
  flex-basis: 700px;
  position: relative;
   top: -40px;
  
}

.cta-content-right img:nth-child(1){
  width: 115%;
}

.cta-section-1 .primary-button{
  border-radius: 0;
  font-weight: 100;
}

.cta-section-1 h5{
  margin-bottom: 10px; 
}

.cta-pricing{
  position: absolute;
    left: 130px;
    top: 110px;
    width: 55%;
}

.text-container-pricing{
  position: absolute;
    top: 34%;
    color: black;
    left: 44%;
}    

 .text-container-pricing p{
 
  color:#8ba6c0;
  font-weight: 600;
  font-size: 1.15rem;
    line-height: 1.8rem;
} 

.text-container-pricing .cost{
  top: 10px;
  color: #2294ed;
  font-size: 56px;
  line-height: 36px;
  font-weight: 600;
  position: relative;
}

/* .text-container-pricing h5{
  margin-bottom: 0px;
  #8ba6c0
} */





/* cta section 1  ends*/


/* cta section 2 */

.cta-section-2 {
  
  background-color: #fff;
  color: #fff;
  padding: 120px var(--padding-inline-section) 80px;
  align-items: center;
  justify-content: center;
}

.cta-content-2 h2{
  color: #183b54;
}

.cta-content-2{
  align-items: center;
  flex-direction: column;
  
}

/* cta section 2 ends */

/* subfooter starts */

.sub-footer{
background-color: #ebf2fa;
padding-block: 60px;
justify-content: space-evenly;
}

.sub-footer img{
  width: 200px;
  }

.sub-footer div{
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sub-footer ul{
  padding: 0;
  margin-top: 20px;
}

.sub-footer li{
  margin-bottom: 5px;
}

.sub-footer ul li a{
  color: #577592;
}

.sub-footer ul li a:hover{
  color: #2294ed;
}

/* subfooter ends */

/* about footer starts */

.about-footer{
  background-color: #b9cde4;
  color: #333333;
  justify-content: center;
    align-items: center;
}

.about-footer-content h6{
  color:#183b56;
  margin-right: 25px;
  
}

.about-footer-content a{
  color:#183b56;
  vertical-align: sub;
}

.about-footer-icons {
  margin-left: 80px;
}

.about-footer-icons img{
  margin-right: 20px;
  width: 20px;
}


.about-footer-content h6:hover,  .about-footer-content a:hover{
color: #2294ed;
}


/* about footer ends */