@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

.container{
  max-width: 1140px;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
  color:#fff;
}

ul {
  list-style: none;
}

/* Utility classes start */

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.top-banner {
  background-color: #4fb3da;
  background-image: url(./assets/asset\ 32.png);
  background-size: 300px;
}

.banner-text {
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: #fff !important;
  padding: 10px 20px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.3s ease-out;
  text-align: center;
}

.primary-button:hover {
  background-color: var(--accent-color-dark);
}

.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color);
  padding: 10px 20px;
  transition: 0.3s ease-out;
}

.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.d-items-flex{
  display: flex;
  
}

/* utility classes ends */

/* navbar */

.main-nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  flex-basis: 730px;
}

#hamburger-menu{
  display: none;
}

.nav-links ul {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.company-logo img {
  width: 200px;
  margin-right: 70px;
  margin-top: -5px;
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}

/* header section */

header {
  padding: 50px var(--padding-inline-section);
}

.header-section {
  gap: 50px;
  align-items: center;
}

.header-left {
  max-width: 40vw;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  
}

.header-left h1 {
  margin-top: 20px;
}

.header-right img {
  width: 100%;
}

/* companies header */

.companies-header {
  text-align: center;
  margin-block: 25px;
  color: var(--primary-text-color);
}

.logo {
  height: 40px;
  width: 130px;
  
    margin-left: 25px;
}

.logo-container{
  flex-wrap: wrap;
  /* gap: 10px; */
  justify-content: space-evenly;
}

/* Features section */

.features-area {
  gap: 20px;
}

.features-section {
  padding: 80px var(--padding-inline-section) 0;
  background-image: url("./Assets/asset\ 34.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features-header {
  text-align: center;
}

.features-header h2 {
  margin-bottom: 20px;
}

.features-card {
  gap: 20px;
  max-width: 30%;
  text-align: center;
}

/* big feature section */

.big-feature-section {
  padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
  gap: 50px;
}

/* .feature-p-tag{

} */

 .testimonial-img{
  width: 110px;
}

.avatar img{
  width: 50px;
  height: 50px;
}

.avatar-details{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 2px;

}

.feature-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.avatar-details h5{
 font-size: 20px;
 margin-bottom: 0;
}

.avatar-details p{
  font-size: 15px;
  margin-bottom: 0;
 }




.feature-img img {
  width: 100%;
}

/* examples section */

.examples-header {
  text-align: center;
  margin-block: 50px;
}

.examples-area{
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.examples-heading-text {
  margin-bottom: 20px;
}

.examples-card {
  width: 23%;
  position: relative;
  height: 300px;
  background: black;
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0.8)),
    url(./assets/asset\ 36.jpeg);
  transition: 0.2s ease-out;
}

.examples-card:hover {
  box-shadow: 0 0 10px #888;
}

.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}


/* cta section 1 */

.cta-section-1{
  background-color: #183b54;
  padding-block: 70px;
}

.cta-content-more-details{
  margin-bottom: 30px;
  gap: 30px;
}

.cta-content-left ul, .cta-content-left p{
  color: #b9cde4;
  margin-bottom: 10px;
}

.cta-content-left ul{
  list-style: disc;
  padding-left: 20px;
}

.cta-content-left ul li{
  font-size: 14px;
  margin-bottom: 8px;
}

.cta-content-right{
  /* background-image: url(./assets/asset\ 40.png); */
  /* background-color: red; */
  flex-basis: 620px;
    position: relative;
    top: -20px;
    left: -45px;
  
}

.cta-content-right img:nth-child(1){
  width: 115%;
}

.cta-section-1 .primary-button{
  border-radius: 0;
  font-weight: 100;
}

.cta-section-1 h5{
  margin-bottom: 10px; 
}

.cta-pricing{
  position: absolute;
    left: 115px;
    top: 93px;
    width: 55%;
}

.text-container-pricing{
  position: absolute;
    top: 34%;
    color: black;
    left: 44%;
}    

 .text-container-pricing p{
 
  color:#8ba6c0;
  font-weight: 600;
  font-size: 1.15rem;
    line-height: 1.8rem;
} 

.text-container-pricing .cost{
  top: 10px;
  color: #2294ed;
  font-size: 56px;
  line-height: 36px;
  font-weight: 600;
  position: relative;
}

/* .text-container-pricing h5{
  margin-bottom: 0px;
  #8ba6c0
} */





/* cta section 1  ends*/


/* cta section 2 */

.cta-section-2 {
  
  background-color: #fff;
  color: #fff;
  padding: 120px var(--padding-inline-section) 80px;
  align-items: center;
  justify-content: center;
}

.cta-content-2 h2{
  color: #183b54;
}

.cta-content-2{
  align-items: center;
  flex-direction: column;
  
}

/* cta section 2 ends */

/* subfooter starts */

.sub-footer{
background-color: #ebf2fa;
padding-block: 60px;
justify-content: space-evenly;
}

.sub-footer img{
  width: 200px;
  }

.sub-footer div{
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sub-footer ul{
  padding: 0;
  margin-top: 20px;
}

.sub-footer li{
  margin-bottom: 5px;
}

.sub-footer ul li a{
  color: #577592;
}

.sub-footer ul li a:hover{
  color: #2294ed;
}

/* subfooter ends */

/* about footer starts */

.about-footer{
  background-color: #b9cde4;
  color: #333333;
  justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-footer-content h6{
  color:#183b56;
  margin-right: 25px;
  
}

.about-footer-content a{
  color:#183b56;
  vertical-align: sub;
}

.about-footer-icons {
  margin-left: 80px;
}

.about-footer-icons img{
  margin-right: 20px;
  width: 20px;
}


.about-footer-content h6:hover,  .about-footer-content a:hover{
color: #2294ed;
}


/* about footer ends */

@media screen and (max-width:991px){
 
 h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

 #hamburger-menu{
  display: block;
  font-size: 20px;
 }

 .nav-links{
  display: none;
  /* display: flex;
  position: relative; */
 }

 .nav-links ul{
  /* display: flex;
  position: absolute;
  background: yellow;
  width: 100%; */
 }

 /* .header-right img {
  width: 375px;
    position: relative;
    top: 35px;
    left: 13px;
} */

.examples-card {
  width: calc(50% - 20px);
  height: 180px;
}

.cta-content-right {
  /* background-image: url(./assets/asset\ 40.png); */
  /* background-color: red; */
  /* flex-basis: 700px; */
  position: relative;
  top: 25px;
  left: -16px;
}

.text-container-pricing {
  position: absolute;
  top: 22%;
  color: black;
  left: 44%;
}


.text-container-pricing p, 
.text-container-pricing h5{
  font-size: 1.1rem;
}

.cta-pricing {
  position: absolute;
  left: 96px;
  top: 74px;
  width: 59%;
}

}


@media screen and (max-width:767px){
  .header-section{
    flex-direction: column-reverse;
  }

  .header-left{
    max-width: 100%;
    text-align: center;
    flex-direction: column;
  }

   .primary-button{
    width: 100%;
  }

  .features-card {
    gap: 20px;

    max-width: calc(45% - 20px);
    text-align: center;
}

.feature-desc{
  text-align: center;
}

.big-feature-section{
  flex-direction: column;
}

#second-feature{
  flex-direction: column-reverse;
}



.testimonial-img{
  transform: translateX(305px);
}

.avatar{
  justify-content: center;
}

.cta-section-1 {
  padding-block: 25px;
}

.cta-section-1 .container{
  flex-direction: column;
    text-align: center;
}

.cta-content-more-details{
  justify-content: center;
}

.cta-section-1 .primary-button{
  margin-bottom: 40px;
}

.cta-content-right img:nth-child(1){
  width: 100%;
  margin-top: 40px;
}

.cta-content-right {
  /* background-image: url(./assets/asset\ 40.png); */
  /* background-color: red; */
  /* flex-basis: 700px; */
  position: relative;
  /* top: 12px; */
  left: -30px;
}

/* .cta-pricing {
  position: absolute;
  left: 108px;
  top: 88px;
  width: 55%;
} */

/* .text-container-pricing {
  position: absolute;
  top: 24%;
  color: black;
  left: 41%;
} */

.text-container-pricing{
  position: absolute;
    top: 41%;
    color: black;
    left: 39%;
}

.cta-pricing{
  position: absolute;
    left: 200px;
    top: 200px;
    width: 48%;
}

.text-container-pricing h5 {
  font-size: 2rem;
}

.text-container-pricing p {
  font-size: 1.7rem;
}

.text-container-pricing .cost {
  top: 10px;
  color: #2294ed;
  font-size: 70px;
  line-height: 36px;
  font-weight: 600;
  position: relative;
}

.cta-section-2{
  padding-block: 40px;
}

.sub-footer{
  flex-direction: column;
    align-items: center;
}

.sub-footer h3 {
  margin-top: 30px;
  text-align: center;
}

.sub-footer div {
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sub-footer ul {
  display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media screen and (max-width:479px){
  :root{
    --padding-inline-section:10px;
  }

  .about-footer-icons{
    margin: 0;
  }

  /* .testimonial-img {
    transform: translateX(144%);
} */

.examples-card {
  width: calc(100% - 20px);
  height: 220px;
}

.features-card {
  gap: 20px;
  max-width: calc(100% - 20px);
  text-align: center;
}

.cta-pricing{
  position: absolute;
    left: 104px;
    top: 128px;
    width: 50%;
}

/* .text-container-pricing {
  position: absolute;
  top: 32%;
  color: black;
  left: 36%;
} */

.text-container-pricing h5 {
  font-size: 1.2rem;
}

.text-container-pricing p {
  font-size: 1rem;
}

.cta-section-2{
  padding-block: 35px;
}

.cta-content-right {
  /* background-image: url(./assets/asset\ 40.png); */
  /* background-color: red; */
  flex-basis: 500px;
  position: relative;
  left: 1px;
  /* top: -40px; */
}

p {
  font-size: 1.2rem;
  font-weight: 500;
}

.testimonial-img-container{
display: flex;
justify-content: center;
}

.testimonial-img{
  transform: initial;
}

.text-container-pricing {
position: absolute;
top: 32%;
color: black;
left: 37%;
}

.about-footer-content h6 {
  color: #183b56;
  margin-right: 8px;
  font-size: 13px;
}
}



/* @media screen and (max-width: 479px){

  p {
    font-size: 1.2rem;
    font-weight: 500;
}

.testimonial-img-container{
display: flex;
justify-content: center;
}

  .testimonial-img {
    /* transform: translateX(0px); */
    /* display: flex;
  
}

.text-container-pricing {
  position: absolute;
  top: 30%;
  color: black;
  left: 37%;
} */

/* } */ 
